<h3>Your merchant information:</h3>

<p>Name: <%= @merchant.name %></p>
<p>Address: <%= @merchant.address %></p>
<p>City: <%= @merchant.city %></p>
<p>State: <%= @merchant.state %></p>
<p>Zip: <%= @merchant.zip %></p

<%= link_to 'View My Current Items', '/merchant/items' %>
<%= link_to "Order #{@merchant.item_orders}", "/orders/#{@merchant.item_orders}" %>
