<section class="header">
<br><%= @user.name %>
<br><%= @user.email %>
</section>
  <section class="text">
  <br><% if !current_admin? %>
    <br><%= link_to 'Edit Profile', '/profile/edit' %>
    <br><br><%= link_to 'Edit Password', '/profile/password_edit' %>
    <br><br><%= link_to 'Create a new address', '/profile/addresses/new' %>
  <% end %>
  <section class="my-orders-link">
    <% unless @user.no_orders? %>
      <br><%= link_to 'My Orders', '/profile/orders' %>
    <% end %>
  </section>
  <h4>Addresses</h4>
  <% @user.addresses.each do |address| %>
  <section id="address-<%=address.id%>">
    <p>Address Type: <%= address.address_type %></p>
    <p>Address: <%= address.address %></p>
    <p>City: <%= address.city %></p>
    <p>State: <%= address.state %></p>
    <p>Zip Code: <%= address.zip %></p>
  </section>
  <% end %>
</section>
