<section class="header">
<br><%= @user.name %>
<br><%= @user.address %>
<br><%= @user.city %>
<br><%= @user.state %>
<br><%= @user.zip %>
<br><%= @user.email %>
</section>
  <section class="text">
  <br><% if !current_admin? %>
    <br><%= link_to 'Edit Profile', '/profile/edit' %>
    <br><br><%= link_to 'Edit Password', '/profile/password_edit' %>
  <% end %>
  <section class="my-orders-link">
    <% unless @user.no_orders? %>
      <br><%= link_to 'My Orders', '/profile/orders' %>
    <% end %>
  </section>
</section>
