<section class = "shipping-address">
  <h1 align = "center">Shipping Info</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
    </tr>
    <tr>
      <td><p><%= @order.name %> </p></td>
      <td><p><%= @order.address %> </p></td>
      <td><p><%= @order.city %> </p></td>
      <td><p><%= @order.state %> </p></td>
      <td><p><%= @order.zip %> </p></td>
    </tr>
  </table>
</section>

  <section id="order-info-<%=@order.id%>">
    <h2> Order ID: <%= @order.id %></h2>
    <p>Date created: <%= @order.created_at.strftime("%d %b %y") %></p>
    <p>Order status: <%= @order.status%></p>
  </section>

<h1 align = "center">Order Info</h1>
<center>
  <table>
    <tr>
      <th>Item</th>
      <th>Pic</th>
      <th>Description</th>
      <th>Sold By</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
  <% @item_orders.each do |item_order|%>
    <tr>
    <section id = "item-<%=item_order.item_id%>">
        <td><p><%=link_to item_order.item.name, "/items/#{item_order.item_id}"%></p></td>
        <td><p id="order-show-pic"><img src= <%= item_order.item.image %>></p></td>
        <td><p><%= item_order.item.description %></p></td>
        <td><p><%= link_to item_order.item.merchant.name, "/merchants/#{item_order.item.merchant.id}"%></p></td>
        <td><p><%= number_to_currency(item_order.price)%></p></td>
        <td><p><%= item_order.quantity%></p></td>
        <td><p><%= number_to_currency(item_order.subtotal)%></p></td>
        <% if item_order.status == "fulfilled"%>
          <td><p><%= item_order.item.name %> is fulfilled</p></td>
        <% elsif (item_order.item.inventory < item_order.quantity) && (item_order.status == "unfulfilled") %>
          <td><p> <%= item_order.item.name %> cannot be fulfilled at this time since there is not enough inventory for item </p></td>
        <% elsif item_order.status == "unfulfilled" %>
          <td><p><%= link_to "Fulfill #{item_order.item.name}", "/merchant/itemorders/#{item_order.id}/fulfill", method: :patch %> </p></td>
        <% end %>
      </section>
    </tr>
  <% end %>
</table>

<section id="cancel">
  <% if (@order.status == "pending") || (@order.status == "packaged")%>
    <%=link_to "Cancel Order", "/orders/#{@order.id}", method: :patch%>
  <% end %>
</section>
